* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 55px;
  background-color: rgb(39, 0, 110);

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    a {
      color: #fff;
      text-decoration: none;
      font-size: 20px;
      position: relative;
      font-weight: 500
    }
  }

  .logo {
    color: white;
    letter-spacing: 2px;
    span {
      color: #CC00FF;
      margin-left: 5px;
    }
  }

  a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 0;
  left: 0;
  background-color: #CC00FF;
  height: 2px;
  transition: 0.5s ease;
}

a:hover::after {
  width: 100%;
}

a.active::after,
a[aria-current="page"]::after {
  width: 100%;
}
}

.sobre {
  width: 100%;
  height: 90vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
 background: linear-gradient(to bottom, rgb(39, 0, 110), rgb(10, 0, 29));
 color: #fff;
 padding: 180px;

 .textAbout{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  z-index: 1000;
  background-color: #05050596;
  padding: 70px;
  border-radius: 8px;

  h1{
    font-size: 60px;

    span{
      color: #CC00FF;
    }
  }

  p{
    color: #aaaaaa;
    font-size: 24px;
  }

  .credit{
    color: aqua;
  }
 }
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}