* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 55px;
  background-color: rgb(39, 0, 110);

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    a {
      color: #fff;
      text-decoration: none;
      font-size: 20px;
      position: relative;
      font-weight: 500
    }
  }

  .logo {
    color: white;
    letter-spacing: 2px;
    span {
      color: #CC00FF;
      margin-left: 5px;
    }
  }


  a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 0;
  left: 0;
  background-color: #CC00FF;
  height: 2px;
  transition: 0.5s ease;
}

a:hover::after {
  width: 100%;
}

a.active::after,
a[aria-current="page"]::after {
  width: 100%;
}
}

.hero {
  width: 100%;
  height: 90vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
 background: linear-gradient(to bottom, rgb(39, 0, 110), rgb(10, 0, 29));
 color: #fff;

 .textHero{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  z-index: 1000;

  h1{
    font-size: 50px;

    span{
      color: #CC00FF;
    }
  }

  p{
    color: #aaaaaa;
    font-size: 22px;
  }
 }
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

.scrollBtn {
  width: 30px;
  height: 50px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  outline: 2px solid rgb(105, 127, 255);
  box-shadow: 0px 0px 10px rgb(105, 127, 255);
  position: absolute;
  bottom: 100px;
  animation: kick 1.5s linear infinite;
}

.scroll {
  width: 5px;
  height: 10px;
  border-radius: 10px;
  background-color: rgb(105, 127, 255);
  box-shadow: 0px 0px 10px rgb(105, 127, 255);
  animation: scroll_4013 2s linear infinite;
  transform: translateY(40%);
}

.searchContainer{
  background-color: rgb(10, 0, 29);
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 100px 55px;
  gap: 100px;

  .searchArea{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 400px;

    .input{
      flex: 1;
      background-color: #050505;
      display: flex;
      justify-content: end;
      border-radius: 8px;
      height: 45px;
      border: 1px solid #dadada4e;
      padding: 0 10px;
      position: relative;
      transition: .5s ease;
      align-items: center;

      &:focus-within{
        border-color: #fff ;
      }

      input{
        width: 100%;
        border-radius: 8px;
        background-color: transparent;
        border: none;
        color: #fff;
        outline: none;
        font-size: 16px;
      }

      .searchBtn{
        height: 100%;
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
        width: 18%;
        position: absolute;
        right: 0;
        background-color: #cc00ff;
        color: #fff;
        font-weight: 500;
        border: none;
        font-size: 16px;
        cursor: pointer;
        transition: .5s ease;

        &:hover{
          background-color: #8600a8;
        }
      }
    }
  }

  .cardsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    .card{
      display: flex;
      flex-direction: column;
      background-color: #050505;
      padding: 20px 30px;
      border-radius: 8px;
      border: .5px solid #181818;
      gap: 20px;
      transition: .5s ease;

      &:hover{
        background-color: #070707;
        transform: scale(1.05);
        border-color: #fff ;
      }

      .info{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        align-items: center;
      }

      .subTitle{
        font-size: 18px;
        font-weight: bold;
      }

      .link{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #CC00FF;
        border-radius: 8px;
        padding: 5px 15px;
        cursor: pointer;
        transition: .5s ease;

        &:hover{
          background-color: #8600a8;
        }
        a{
          text-decoration: none;
          color: #fff;
          font-weight: 500;
        }
      }
    }
    .no-results{
      grid-column: 1 / -1;
      text-align: center;
      color: #aaaaaa;
      padding: 20px;
      font-size: 20px;
    }
  }
}

 .button{
      display: flex;
      align-items: center;
      justify-content: center;

      .more{
        background-color: #CC00FF;
        padding: 10px;
        border-radius: 8px;
        border: none;
        color: #fff;
        width: 20%;
        cursor: pointer;
        transition: .5s ease;
        font-weight: 500;

        &:hover{
          background-color: #8600a8;
        }
      }
    }


@keyframes kick {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(30%);
  }

  100% {
    transform: translateY(0%);
  }
};

@keyframes scroll_4013 {
  0% {
    transform: translateY(40%);
  }

  50% {
    transform: translateY(90%);
  }
};

